body {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 15% auto 15%; 
    grid-template-areas: "header header"
                        "section aside"
                        "footer footer";
    height: 100%;
}

html {
    height: 100%;
}

header {
    grid-area: header;
    background-color: rgb(35, 97, 116);  
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    text-align: center;  /*centers text horizontally */
    /* align-items: center;
    justify-content: center; */
    margin-top: 30px;
}

section {
    grid-area: section;
    text-align: center;
    background-color: powderblue;
    height: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
}

aside {
    grid-area: aside;
    background-color: cadetblue;
    height: 100%;
    
}

aside p, button {
    margin-top: 25%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    text-align: center;
    
}

#buttonContainer {
    display: flex;
    justify-content: center;  /* centers button horizontally within the div */
}

footer {
    grid-area: footer;
    background-color: rgb(35, 97, 116);
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
}

#answer {
    position: absolute;
    font-size: 150px;
    color: white;
    top: 30%;
    bottom: 70%;
    left: 50%;
    right: 50%;
}

img {
    height: 80%;

}

